<header>
<h1>Actors</h1>
<form #roleForm = ngForm class="d-flex align-items-center">
  <label class = "sort-label" for = "sortActors">Sort By : </label>
  <select #sort name = "sortActors" id = "sortActors"  (change) = "updateSort(sort.value)" [(ngModel)] = 'sortMode' NgModel>
      <option value = "">No Sorting</option>
      <option value = "name">Name &uarr;</option>
      <option value = "name desc">Name &darr;</option>
      <option value = "oscarWins desc,oscarNominations desc">Oscar Wins</option>
  </select>
  </form>
</header>
<ul class="actor-list">
    <li *ngFor = "let actor of actors">
      <a class = "detail-link" routerLink = "/actor-detail/{{actor.actorId}}">
        <h5>{{actor.name}}</h5>
        <img class = "photo" #actorPhoto [src]= "actor.photo" (error)= "dp.addDefaultPhotoPerson($event)" alt = "actor photo"/>
      </a>
    </li>
</ul>
<app-pagination [paginationData] = "paginationData" (changedPage) = "changePage($event)" *ngIf = "paginationData"></app-pagination>