<div class="big-container">
    
    <div class = "form-container">
    <h1 *ngIf= "id">Edit Movie</h1>
    <h1 *ngIf= "!id">Add Movie</h1>
    <form #movieForm = ngForm (ngSubmit)="addMovieSubmit(movieForm.value)">
     <div class = "form-half">
        <label  class = "label">*Title : <input required  type = "text" name = "title" [(ngModel)]= "movie.title" ngModel/></label>
    
        <label class = "label no-focus-color">Genres:
            <div class = genres>
                <label class = "genre-label" *ngFor = "let genre of genreOptions">
                <input id = "genre.name" #genreCheckbox type = "checkbox" name = "genre" [value] = "genre.name" [checked] ="isEnabled(genre)" (change)="UpdateCheckedGenres(genre, genreCheckbox.checked)"/>
                {{genre.name}}
                </label>
            </div>
        </label>
    </div>
    <div class = "form-half">
        <label class = "label">*Director : <input required type = "text" name = "director" [(ngModel)] = "director.name" (keyup)= "directorError = false" ngModel/></label>
       <div class = "error" *ngIf = "directorError">Director was not found. Use an existing director, or add a new director before using it.</div>
        <label class = "label">Image Address : <input type = "text" name = "poster"   [(ngModel)] = "movie.poster" ngModel/></label>
        <label class = "label">Summary : <input type = "text" name = "summary"   [(ngModel)] = "movie.summary" ngModel/></label>
        <label class = "label">Run Time : <input type ="number" name = "runTime"  [(ngModel)] = "movie.runTime" ngModel/></label>
        <label class = "label">Release Year : <input type ="number" name = "releaseYear"  [(ngModel)] = "movie.releaseYear" ngModel/></label>
        <label class = "label">IMDB Rating : <input type ="number" name = "imdbRating" [(ngModel)] = "movie.imdbRating" ngModel/></label>
        <label class = "label">Oscar Wins : <input type ="number" name = "oscarWins"  [(ngModel)] = "movie.oscarWins" ngModel/></label>
        <label class = "label">Oscar Nominations : <label for=""><input type ="number" name = "oscarNominations"   [(ngModel)] = "movie.oscarNominations" ngModel/></label></label>
        <label class = "label">Storyline : <label for=""><input type = "text" name = "storyLine" [(ngModel)] = "movie.storyLine" ngModel/></label></label>
        <input class = "submit" type = "submit" value = "submit" [disabled]="!movieForm.form.valid"/>
    </div>
    </form>
    </div>
    
</div>
