<header>
<h1>Directors</h1>
<form #roleForm = ngForm>
    <label  class = "sort-label" for = "sortDirectors">Sort By : </label>
    <select #sort name = "sortDirectors" id = "sortDirectors"  (change) = "updateSort(sort.value)" NgModel>
        <option value = "none" [selected] = "sortMode == 'none'">No Sorting</option>
        <option value = "nameAsc" [selected] = "sortMode == 'nameAsc'">Name &uarr;</option>
        <option value = "nameDesc" [selected] = "sortMode == 'nameDesc'">Name &darr;</option>
        <option value = "oscarWins" [selected] = "sortMode == 'oscarWins'">Oscar Wins</option>
    </select>
</form>
</header>
<ul class="director-list">
    <li *ngFor = "let director of directors">
        <a class = "detail-link" routerLink = "/director-detail/{{director.directorId}}">
            <h3>{{director.name}}</h3>
            <img class = "photo" [src] = "director.photo" (error)= "dp.addDefaultPhotoDirector(director)" alt = "photo of director"/>
        </a>
    </li>
</ul>