form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
form .genres{
    display: flex;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
}
input[type = "checkbox"]{

    opacity: 0;
    position: fixed;
    width: 0;
}
label{
    font-size: 17px;
}
input{font-size: 17px;}

 .genre-label{
    border: 1px solid var(--light-color);
    padding: 5px;
    border-radius: 20px;
    margin:10px;
 }
 .genre-label:has(input[type = "checkbox"]:checked){
    background-color: var(--dark-accent-color);
 }
 input:focus{
    outline: none;
    border: 2px solid var(--accent-color);
 }
 .label:has(input:focus){
    color: var(--accent-color);
 }
 .submit:disabled{
    background-color: rgb(182, 182, 182);
    border:2px solid grey;
 }
 h1{
    color: var(--accent-color);
    align-self: center;
    margin-top: 0;
    margin-bottom: 35px;
 }
 .submit{
    margin-top: 40px;
    align-self: flex-end;
 }
 .big-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
 }



