<div class="small-form-container form-container">
    <h1  class="form-title">Forgot Password</h1>
    <form #resetForm = ngForm (ngSubmit)="reset()">
        <div class = "row">
            <div class = "form-group col-md-12">
                <label for = "password" class="label">New Password</label>
                <input type = "password" id="password" name = "password" [(ngModel)]= "resetPassword.newPassword" (keyup)= "errors = ''" required #password = "ngModel" ngModel/>
            </div>
        </div>
        <div class = "row">
            <div class = "form-group col-md-12">
                <label for = "confirm" class="label">Confirm Password</label>
                <input type = "password" id="confirm" name = "confirm" (keyup)= "errors=''" required #confirm = "ngModel" ngModel/>
                <div class="errors" *ngIf="confirm.value != password.value && confirm.value && password.value">Passwords do not match.</div>
            </div>
        </div>
        <div class="errors" *ngIf = "errors">
            {{errors}}
        </div>
        <div class = "buttons">
            <button class="cancel" type="button" (click) = "cancel()">Cancel</button>
            <input class = "submit" type = "submit" value = "Send" [disabled]="!resetForm.form.valid || confirm.value != password.value"/>
        </div>
    </form> 
</div>

