
img {
    width: 200px;
    height:auto;
    box-shadow:rgba(0, 0, 0, 0.56) 0px 5px 10px;  
}
li img{
    position: absolute; 
    top: 0px;
    left: 0;
}
 
.director>p,
.director>img{
    margin-left: 25px;
}
.director>p{
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}
.cast{
 display: flex;
 flex-direction: row;
 overflow-x: scroll;
 gap: 25px;
 padding-left: 25px;
}
.cast li{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 320px;
    max-height: 370px;
    min-width: 200px;
    margin: 0px 10px 0px 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}
.detail-link{
    min-height: 240px;
}
.cast p{
    margin-top: 10px;
    margin-bottom: 0;
}

li>a{
    position: relative;
    float: left;
    width: 200px;
    display: flex;
    flex-direction: column-reverse;
}
a{
    color: var(--light-color);
}
.light-gray-text{
    color: var(--light-gray);
}
.add{
    display: flex !important;
    justify-content: flex-start !important;
    align-items:center;
}
.add .detail-link{
    max-height: 200px;
    min-height: 200px;
}
.add-icon{
    width: 200px;
}
.add-icon:hover path{
    fill: var(--accent-color);
}
.actor-role{
    color: var(--light-gray);
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}
.rating{
    margin-top: 15px;
    color: rgb(143, 142, 142);
}
.bigger-text{
    font-size: 24px;
    color: var(--light-color)
}
.star-icon{
    color: var(--blue);
    font-size : 28px;
    margin-right: 5px;
}



