
<div class = "container" *ngIf = "movie">
    <div class = "options" *ngIf = "userRole == 'admin'">
        <button class = "edit"><a routerLink="/edit-movie/{{movie.movieId}}">Edit</a></button>
        <button class = "delete" (click)="deleteMovie(movie.movieId)">Delete</button>
    </div>
    <div class = "top-details">
        <div>
        <h2>{{movie.title}}</h2>
        <img class = "poster" [src] = "movie.poster"  (error) = "dp.addDefaultPhoto($event)" alt = "movie poster"/>
        <p class="rating"><span class="star-icon">★</span><span class="bigger-text">{{rating}}</span>/10</p>
        </div>
        <div class="right-details">
        <p *ngIf = "movie.imdbRating"><span class = "label">IMDB Rating : </span>{{movie.imdbRating}}</p>
        <p *ngIf = "movie.releaseYear"><span class = "label">Release Year : </span>{{movie.releaseYear}}</p>
        <p *ngIf = "movie.runTime"><span class = "label">Runtime : </span>{{movie.runTime}} minutes</p>
        <p *ngIf = "movie.oscarWins"><span class = "label">Oscar Wins : </span>{{movie.oscarWins}}</p>
        <p *ngIf = "movie.oscarNominations"><span class = "label">Oscar Nominations : </span>{{movie.oscarNominations}}</p>
        <ul *ngIf = "genres">
            <li *ngFor = "let genre of genres">
                <p>{{genre.name}}</p>
            </li>
        </ul>
    </div>
    </div>
    <div>
        <h3 *ngIf = "movie.summary" class = "label section-header">Summary : </h3><p *ngIf = "movie.summary" class = "bottom-line light-gray-text">{{movie.summary}}</p>
        <div *ngIf = "director" class = "bottom-line ">
            <h3 class = "label section-header">Director : </h3>
            <a class = "detail-link director" routerLink="/director-detail/{{director.directorId}}">
                <img class = "photo" [src] = "director.photo" (error) = "dp.addDefaultPhotoPerson($event)"/>
                <p  style = "font-weight: bold">{{director.name}}</p>
            </a>
        </div>
        <h3 class = "label section-header" *ngIf = "cast">Cast : </h3>
        <ul  class = "bottom-line" class = "cast">
            <li *ngFor = "let actor of cast">
                <a class = "detail-link" routerLink="/actor-detail/{{actor.actorId}}">
                    <img class = "photo" [src] = " actor.photo" (error) = "dp.addDefaultPhotoPerson($event)" alt = "photo of actor" >
                    <p  style = "font-weight: bold">{{actor.name}}</p>
                </a>
                <div>
                    <p class="actor-role"> as {{actor.role}}</p>
                    <div class = "options" *ngIf = "userRole == 'admin'">
                        <button class = "edit"><a routerLink="/edit-role/{{movie.movieId}}/{{actor.actorId}}">Edit</a></button>
                        <button class = "delete" (click)="deleteRole(movie.movieId, actor.actorId)">Delete</button>
                    </div>
                </div>
            </li>
            <li class = "add" *ngIf = "userRole == 'admin'">
                <a class = "detail-link" routerLink="/add-role/{{movie.movieId}}">
                    <svg class = "add-icon" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20 14H14V20H10V14H4V10H10V4H14V10H20V14Z" />
                    </svg>
               </a> 
            </li>
        </ul>
        <h3 *ngIf = "movie.storyLine" class = "label section-header">Storyline : </h3><p class = "bottom-line light-gray-text">{{movie.storyLine}}</p>
        <app-reviews *ngIf = "movie.movieId != 0" [movie] = "movie"></app-reviews>
    </div>
