
.movie-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0;
}
header, .movie-list{
    position: relative;
    top: 140px;
    overflow: hidden;
}

header form{
    display: flex;
    align-items: center;
}
li{
   
    list-style-type: none;
    float: left;
    position: relative;
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
   
}
li h3{
   color: var(--light-color);
   white-space: nowrap; 
}
li a {
    position: absolute;
    top: 0;
    left : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.poster{

    width: 200px;
    height:auto;
    box-shadow:rgba(0, 0, 0, 0.56) 0px 5px 10px;
   
}
