<!--<app-genre (onGenrePicked)="displayGenreMovies($event)"></app-genre>-->
<app-genre (pickedGenre)="pickGenre($event)"></app-genre>
<header>
<h1>Movies</h1>
<form #roleForm = ngForm  class="d-flex align-items-center">
<label class = "sort-label" for = "sortMovies">Sort By : </label>
<select #sort name = "sortMovies" id = "sortMovies"  (change) = "updateSort(sort.value)" [(ngModel)]="sortMode" NgModel>
    <option value = "">No Sorting</option>
    <option value = "releaseYear">Release Year &uarr;</option>
    <option value = "releaseYear desc">Release Year &darr;</option>
    <option value ="imdbRating desc">IMDB Rating</option>
    <option value = "oscarWins desc, oscarNominations desc">Oscar Wins</option>
</select>
</form>
</header>
<div class="movie-list-container">
    <app-movie-list [movies] = "movies"></app-movie-list>
</div>
<app-pagination [paginationData]="paginationData" (changedPage)="changePage($event)"></app-pagination>
