<div class="auth-form-container">
    <h1>Sign Up</h1>
    <form>
        <div class = "row">
            <div class = "form-group col-md-12">
                <label for = "email" class="label">Email</label>
                <input type = "email" id="email" name = "email"/>
            </div>
        </div>
        <div class = "row">
            <div class = "form-group col-md-12">
                <label for = "username" class="label">Username</label>
                <input type = "text" id="username" name = "username"/>
            </div>
        </div>
        <div class = "row">
            <div class = "form-group col-md-12">
                <label for = "password" class="label">Password</label>
                <input type = "password" id="password" name = "password"/>
            </div>
        </div>
        <div class = "buttons">
            <button class="cancel" type="button">Cancel</button>
            <input class = "submit" type = "submit" value = "Submit"/>
        </div>
    </form> 
</div>
