 .selected{
    color: var(--blue);
 }
 .stars{
   margin-block-end: 0;
   padding: 0;
 }
 .star{
    cursor: pointer;
    display: inline;
    margin: 2px;
    font-size: 28px;
    transition : all 0.2s ease-in-out;
 }
 