
<div class = "container" *ngIf = "director">
    <div class = "options" *ngIf = "userRole == 'admin'">
    <button class = "edit"><a routerLink="/edit-director/{{director.directorId}}">Edit</a></button>
    <button class = "delete" (click) = "deleteDirector(director.directorId)">Delete</button>
    </div>
    <div class = "top-details">
        <div>
        <h2>{{director.name}}</h2>
        <img [src] = "director.photo" class="photo" (error)= "dp.addDefaultPhotoDirector(director)" alt = "photo of director"/>
        </div>
        <div class = "right-details">
        <p *ngIf = "director.born"><span class = "label">Born : </span>{{director.born | date}}</p>
        <p *ngIf = "director.oscarWins"><span class = "label">Oscar Wins : </span>{{director.oscarWins}}</p>
        <p *ngIf = "director.oscarNominations"><span class = "label">Oscar Nominations : </span>{{director.oscarNominations}}</p>
        </div>
    </div>
    <h3 class="section-header" *ngIf = "directorMovies">Movies : </h3>
    <app-movie-list [movies] = "directorMovies" *ngIf = "directorMovies"></app-movie-list>
</div>
