
<nav class = "navbar navbar-expand-md navbar-dark">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="left-links collapse navbar-collapse">
        <div class = "navbar-nav">
            <a routerLink="" class="nav-item">Movies</a>
            <a routerLink = "/actors/none" class="nav-item">Actors</a>
            <a routerLink = "/directors/none" class="nav-item">Directors</a>
            <a routerLink = "/search" class="nav-item">Search</a>
            <a *ngIf = "role=='admin'" routerLink="/add" class="nav-item">Add</a>
        </div>
    </div>
    <div class = "dropdown">
        <!--<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{username||"User"}}
        </a>-->
        <button *ngIf = "!username" type="button" disabled>User</button>
        <button *ngIf = "username" type="button"><a href="{{role}}/{{userId}}" class="user-link">{{username}}</a></button>
        <button type="button" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <div  class="dropdown-menu dropdown-menu-dark">
            <a *ngIf = "!username" class="dropdown-item" routerLink="/signup">Sign Up</a>
            <a *ngIf = "!username" class="dropdown-item" routerLink="/login">Log in</a>
            <a *ngIf = "username" class="dropdown-item" role="button" (click)="logout()">Log out</a>
        </div>
    </div>
</nav>
