
<nav class = "navbar navbar-expand-md navbar-dark">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="left-links collapse navbar-collapse">
        <div class = "navbar-nav">
            <a routerLink="" class="nav-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Movies</span></a>
            <a routerLink = "/actors" class="nav-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Actors</span></a>
            <a routerLink = "/directors" class="nav-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Directors</span></a>
            <a routerLink = "/search" class="nav-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Search</span></a>
            <a *ngIf = "role=='admin'" routerLink="/add" class="nav-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Add</span></a>
        </div>
    </div>
    <div class = "dropdown">
        <button *ngIf = "!username" type="button" disabled>User</button>
        <button *ngIf = "username" type="button"><a href="{{role}}/{{userId}}" class="user-link">{{username}}</a></button>
        <button type="button" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <div  class="dropdown-menu dropdown-menu-dark">
            <a *ngIf = "!username" class="dropdown-item" routerLink="/signup">Sign Up</a>
            <a *ngIf = "!username" class="dropdown-item" routerLink="/login">Log in</a>
            <a *ngIf = "username" class="dropdown-item" role="button" (click)="logout()">Log out</a>
            <div *ngIf = "username" class="dropdown-divider" style="border-color:grey;"></div>
            <a *ngIf = "username" href = "#deleteAccountModal" class="dropdown-item" data-bs-toggle="modal" style="color: rgb(251, 125, 125)">Delete account</a>
        </div>
    </div>
</nav>
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title d-flex align-items-center" id="exampleModalLongTitle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z" /></svg>
            Delete Account?
          </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Your account will be deleted permanently.
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="submit" (click) = "deleteAccount()" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>
