nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkish-color);
    margin:0px;
    box-shadow: rgba(8, 8, 8, 0.55) 0px 13px 20px -5px, rgba(0, 0, 0, 0.70) 0px 8px 10px -8px;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    overflow-x: auto;
    overflow: visible;
    padding: 0 30px;
}

.navbar-nav>a, .dropdown{
    font-size: 22px;
    color: var(--light-color);
    margin: 20px;
    font-weight: bold;
}

.dropdown-menu{
    position: absolute !important;
}
a{
    color: inherit;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}