.movie-list-search, .actor-list-search, .director-list-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0;
    min-height: 100%;
  }
  .movie-list-search li{
    height: 320px;
  }
  .actor-list-search li,
  .director-list-search li{
    height: 255px;
  }
li{
   
    list-style-type: none;
    float: left;
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
   
}
li h5{
   color: var(--light-color);
   height: 50px;
   display: flex;
   align-items: center;
   text-align: center;
   margin-bottom: 3px;
}
li a {
    position: absolute;
    top: 0;
    left : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.poster,
.photo{

    width: 200px;
    height:auto;
    box-shadow:rgba(0, 0, 0, 0.56) 0px 5px 10px; 
}
.results-container{
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
}
.results-container h1{
    margin-left: 80px;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}
svg{
    width: 35px;
    height: auto;
    align-self:center;
}
svg path{
    fill : var(--accent-color);
}

.search{
    height: 35px;
    width: 400px;
    font-size: 20px;
    border: 2px solid var(--accent-color);
}
.search:focus{
   outline: none;
   border: 4px solid var(--accent-color);
}
.no-results{
    text-align: center;
}

@media(max-width: 415px){

    .search{
        width: 200px;
        font-size: 16px;
    }
    li{
        margin: 20px 0px;
    }
    h5{
        font-size: 18px;
    }
    .results-container h1{
        margin-left: 30px;
    }
}
