<div class="d-flex justify-content-between align-items-center">
    <h3 class = "label section-header">
        <a data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="true" aria-controls="collapse" class="reviews-link">Reviews <span>({{reviews.length}})</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>expand</title>
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
        </a>
    </h3>
    <a *ngIf = "movie" routerLink = "/add-review/{{movie.movieId}}" class = "add-review-link">+ Add Review</a>
</div>
<div class="reviews-list collapse" id="collapse">
    <ul class = "d-flex flex-column">
        <li  *ngFor = "let review of reviews" class="review">
            <div class="d-flex review-container">
                <a *ngIf = "userId && review.movie"  class = "detail-link" routerLink = "/movie-detail/{{review.movie.movieId}}">
                    <img class = "poster" [src] = "review.movie.poster"  (error) = "dp.addDefaultPhotoMovie(review.movie)" alt = "movie poster"/>
                </a>
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class = "title"><span>{{review.title || '[No title]'}}</span></h5>
                            <h5 class="rating"><span class="star-icon">★</span><span class ="bigger-text">{{review.rating}}</span>/10</h5>
                        </div>
                        <p class="small-text" *ngIf = "review.user">
                            <a href="/{{review.user.role}}/{{review.user.userId}}" class="small-text">
                                <img class="photo" [src] = "review.user.imageSource || '../../assets/person.jpg'"/>
                                {{review.user.username}}</a>
                            on {{review.date | date}}
                        </p>
                        <p class = "small-text" *ngIf = "!review.user && !userId">
                            [deleted] on {{review.date | date}}
                        </p>
                        <p *ngIf = "review.text">{{review.text}}</p>
                        <app-vote *ngIf = "review.text || review.title" [reviewId] = "review.reviewId"></app-vote>
                    </div>
                    <a *ngIf = "(review.user && review.user.userId == currentUserId) || userId == currentUserId" (click)="deleteReview(review.reviewId)" class ='delete-link'>Delete</a>
                </div>
            </div>
        </li>
        <li *ngIf ="reviews.length == 0">
            <p>There are no reviews yet.</p>
        </li>
    </ul>
</div>
