
<div class="add-btns">
    <button class = "add-button" (click)="(!addActor.value && !addDirector.value) ? toggleButton(addMovie) : null" [disabled] = "addActor.value || addDirector.value">{{!addMovie.value ? 'Add Movie' : 'Cancel'}}</button>
    <button  class = "add-button" (click)="(!addMovie.value && !addDirector.value) ? toggleButton(addActor) : null" [disabled] = "addMovie.value || addDirector.value">{{!addActor.value ? 'Add Actor' : 'Cancel'}} </button>
    <button  class = "add-button" (click)="(!addActor.value && !addMovie.value) ? toggleButton(addDirector) : null" [disabled] = "addActor.value || addMovie.value">{{!addDirector.value ? 'Add Director' : 'Cancel'}}</button>
</div>
<div class = "forms">
    <div *ngIf = "addMovie.value">
        <app-movie-form (onSubmision)="hasSubmitted($event, addMovie)"></app-movie-form>
    </div>
    <div *ngIf = "addActor.value">
        <app-actor-form (onSubmision)="hasSubmitted($event, addActor)"></app-actor-form>
    </div>
    <div *ngIf = "addDirector.value">
        <app-director-form (onSubmision)="hasSubmitted($event, addDirector)"></app-director-form>
    </div>
</div>

