
.add-btns{
  display: flex;
  justify-content: center;
}
.add-button{
    font-size: 0.9rem;
    font-weight: bold;
    width: 170px;
    height: 50px;
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    color: var(--light-color);
    background-color: var(--dark-accent-color);
    border: 2px solid var(--dark-accent-color);
    margin: 25px;
    transition: all 0.2 ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 25px 20px -20px;
  }
.add-button:hover{
    background-color: rgb(154, 95, 214);
  }
.add-button:disabled{
  color: rgb(70, 70, 70);
  background-color: var(--darkish-color);
  border: 2px solid var(--darkish-color) !important;
}
.forms{
    display: flex;
    justify-content: center;
    min-height: auto;
}
@media(max-width: 560px){

  .add-button{
    width: 120px;
    height: 40px;
    margin: 10px;
  }
}
