input[type="file"]{
    display: none;
}
 .image-file-container{
    gap: 10px;
    margin-bottom: 10px;
 }
.choose-image {
    color: var(--light-color);
    border-radius: 3px;
    background-color: var(--dark-color);
    padding: 5px;
    border: none;
    margin-bottom: 2px;
}
.remove-image{
    color: grey;
    cursor: pointer;
    padding: 5px;
}
.remove-image:hover{
    text-decoration: underline;
}
 .photo{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 10px;
    height: 120px !important;
    width: 120px !important;
    border-radius: 0px;
    margin-bottom: 15px;
 }
  