
<div class = "container" *ngIf = "actor">
    <div class = "options" *ngIf = "userRole == 'admin'">
        <button class = "edit"><a routerLink="/edit-actor/{{actor.actorId}}">Edit</a></button>
        <button class = "delete" (click) = "deleteActor(actor.actorId)">Delete</button>
    </div>
    <div class = "top-details">
    <div>
    <h2>{{actor.name}}</h2>
    <img class ="photo" [src] = "actor.photo" (error)= "dp.addDefaultPhotoActor(actor)" alt = "photo of actor" />
    </div>
    <div  class="right-details">
        <p><span class = "label">Born : </span>{{actor.born | date}}</p>
        <p><span class = "label">Oscar Wins : </span>{{actor.oscarWins}}</p>
        <p><span class = "label">Oscar Nominations : </span>{{actor.oscarNominations}}</p>
    </div>
    </div>
    <h3 class="section-header" *ngIf = "actorMovies">Movies: </h3>
    <app-movie-list [movies] ="actorMovies" *ngIf = "actorMovies"></app-movie-list>
</div>
