
<div class = "container" *ngIf = "actor">
    <div class = "options" *ngIf = "userRole == 'admin'">
        <button class = "edit"><a routerLink="/edit-actor/{{actor.actorId}}">Edit</a></button>
        <button class = "delete" (click) = "deleteActor(actor.actorId)">Delete</button>
    </div>
    <div class = "top-details">
    <div>
    <h2>{{actor.name}}</h2>
    <img class ="photo" [src] = "actor.photo" (error)= "dp.addDefaultPhotoActor(actor)" alt = "photo of actor" />
    </div>
    <div  class="right-details">
        <p><span class = "label">Born : </span>{{actor.born | date}}</p>
        <p><span class = "label">Oscar Wins : </span>{{actor.oscarWins}}</p>
        <p><span class = "label">Oscar Nominations : </span>{{actor.oscarNominations}}</p>
    </div>
    </div>
    <h3 class="section-header">Movies: </h3>
    <ul class = "detail-movie-list">
        <li *ngFor = "let movie of actor.movieActors">
            <a class = "detail-link" routerLink="/movie-detail/{{movie.movieId}}">
                <img class = "poster" [src] = "movie.poster" (error)= "dp.addDefaultPhotoMovie(movie)"/>
                <p style = "font-weight: bold">{{movie.title}}</p>
            </a>
        </li>
    </ul>
</div>
