/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root{

    --light-color: rgb(245, 238, 248);
    --backgroud-color: rgb(25, 22, 26);
    --accent-color: rgb(202, 158, 249);
    --dark-accent-color: rgb(125, 71, 178);
    --blue: rgb(76, 212, 196);
    --dark-blue: rgb(15, 148, 133);
    --dark-color: rgb(19, 18, 19);
    --darkish-color: rgb(28, 26, 29);
}
html {
  
    color: var(--light-color);
    max-width: 100vw;
    min-height: 100% !important;
   
}
body{
    margin:0px;
    
   background-image: radial-gradient(circle at 24.1% 68.8%, rgb(53, 50, 58) 0%, rgb(25, 22, 26) 99.4%) !important;
   background-attachment: fixed;
    color: var(--light-color);
    min-height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
app-footer{
  top: 120px;
  position: relative;
  bottom: 0;
}
app-root{
  display: flex;
  flex-direction: column;
  min-height: inherit;
}
app-movies{
 min-height: 69vh;
}
app-actor, app-director, app-add, app-search, app-actor-detail, app-movie-detail, app-director-detail, 
app-root>app-actor-form, app-root>app-movie-form, app-root>app-director-form, app-root>app-role-form{
  position: relative;
  top:100px;
  min-height: 69vh;
}

app-login-form, app-signup-form{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at 24.1% 68.8%, rgb(53, 50, 58) 0%, rgb(25, 22, 26) 99.4%) !important;
  z-index: 10;
  position: absolute;
  top: 0;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"]
textarea{
  color: var(--darkish-color);
  padding-left: 5px;
}
.detail-poster{
    width: 400px;
    height : auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
select{
    background-color: var(--darkish-color) !important;
    color: var(--light-color);
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-color: var(--accent-color);
}
select:focus{
    border-color: var(--accent-color);
}
.sort-label{
    color: var(--accent-color);
    margin: 5px;
    font-size: 20px;
}

.section-header{
  border-left: 5px solid var(--blue);
  padding-left: 10px;
  margin-top: 15px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.movie-list, .actor-list, .director-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.detail-movie-list{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 25px;
  padding-left: 25px;
 }
 .detail-movie-list p{
     margin-top:0;
     white-space: nowrap;
 }
 .detail-movie-list li{
     padding-top: 10px;
     padding-bottom: 10px;
     height: 380px;
     min-width: 200px;
     margin: 10px 10px;
     width: auto;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     float: left;
 }
img, .photo, .poster{
    width: 200px !important;
    height:265px !important;
    object-fit: cover;
    box-shadow:rgba(0, 0, 0, 0.56) 0px 5px 10px;
    transition: all 0.2s ease-in-out;
}
.photo{
  width: 200px !important;
  height:200px !important;
  object-fit: cover;
  object-position: 0% 20%;
  border-radius: 25px;
}

li .detail-link:hover .poster{
   
  box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px, rgba(0, 0, 0, 0.20) 0px -12px 30px, rgba(0, 0, 0, 0.20) 0px 4px 6px, rgba(0, 0, 0, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
  transform: scale(1.03);
  border: 2px solid var(--accent-color);
  transition:all 0.2s ease-in-out;
}
li .detail-link:hover h3{
  color: var(--accent-color) !important;
  transform: scale(1.03);
  text-shadow: 0px 4px 3px rgba(0,0,0,0.56),
           0px 8px 13px rgba(0,0,0,0.56),
           0px 18px 23px rgba(0,0,0,0.56);
  transition:all 0.2s ease-in-out;
}

.detail-link:hover img,
.detail-link:hover .photo{
  box-shadow: 0px 0px 0px 2px var(--accent-color); 
}
.detail-link:hover p{
  color: var(--accent-color);
  transition:all 0.2s ease-in-out;
}

::-webkit-scrollbar {
   
    height: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dark-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
  }
  .label{
    font-weight: bold;
  }
  .edit, .delete, .submit, .cancel{

    font-size: 17px;
    font-weight: bold;
    width: 90px !important;
    height: 35px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }
  .edit, .cancel{
    background-color: inherit;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }
  .edit a{
    color: var(--accent-color) !important;
  }
  .edit:hover, .cancel:hover{
    background-color: var(--dark-accent-color);
    border-color: var(--dark-accent-color);
  }
  .edit:hover a, .cancel:hover{
    color: var(--light-color) !important;
  }
  .delete, .submit{
    background-color: inherit;
    border: 2px solid var(--blue) !important;
    color: var(--blue);
  }
  .delete:hover, .submit:hover{
    background-color: var(--dark-blue);
    color: var(--light-color);
    border-color: var(--dark-blue) !important;
  }
  .submit:disabled{
    background-color: rgb(182, 182, 182);
    border:2px solid grey !important;
    color: var(--light-color) !important;
 }
  p{
    font-size: 18px;
    line-height: 30px;
  }
  h3{
    font-size: 22px;
  }

  .bottom-line {
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--light-color);
  }

  .top-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 200px;
    font-size: 17px;
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid var(--light-color);
}
.right-details{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.right-details>p{
    margin: 7px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--light-color);
}
.right-details ul{
    display : flex;
    flex-wrap: wrap;
    gap:20px;
    padding-left:0; 
}
.right-details ul li p, 
.genre-label{
    border: 1px solid var(--light-color);
    padding: 1px 15px;
    border-radius: 20px;
}
.right-details span{
    padding-right: 20px;
}
.options{
    display : flex;
    justify-content: space-evenly;
}
.container>.options{
   display: flex;
   justify-content: flex-start;
   gap: 20px;
}
.big-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form-container, .auth-form-container{
    border: 2px solid var(--accent-color);
    padding: 30px;
    background-color: var(--darkish-color);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px, rgba(0, 0, 0, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;

    /*width: 300px;*/
}
form .error{
    background-color: rgba(76, 212, 196, 0.6);
    border: 2px solid var(--blue);
    font-size: 17px;
    padding: 3px;
    width: 300px;
}
label{
  cursor: pointer;
}
/*.submit{
  margin-top: 30px;
  width: 200px !important;
}*/

