.container{
    max-width: 900px !important;
}
.watchlist-link{
    color: var(--light-color);
}
.watchlist-link svg{
    height: 45px;
}
.watchlist-link svg path{
    fill: var(--light-color);
    transition: all 0.3s ease-in-out;
}
.watchlist-link:hover svg path{
    fill: var(--blue);
}
.watchlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    padding: 0px 15px 25px 15px;
    background-color: var(--darkish-color);
}
.watchlist-item {
    list-style-type: none;
    float: left;
    position: relative;
    height: 250px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}
h3 span{
    font-size: 20px;
    color : rgb(143, 142, 142);
}